<div id="main">
    <h1>Cloudify</h1>
    <h2>You give me a url, I give you a word cloud.</h2>

    <div>
        <p id="message">Enter a url in the input box</p>
    </div>
    <div>
        <input id="url-input" />
    </div>
    <div>
        <button id="url-submit" type="submit">Create Cloud</button>
    </div>

    <div id="word-cloud">
    </div>
</div>
