<!DOCTYPE html>
<html>
    <head>
        <title></title>

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:400,300,700&amp;subset=latin,latin-ext" />
        <link rel="stylesheet" href="bower_components/bootstrap.ui/dist/css/bootstrap-ui.min.css" />

        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/jqcloud2/dist/jqcloud.min.js" async ></script>

        <link rel="stylesheet" href="bower_components/jqcloud2/dist/jqcloud.min.css" async >
        <link rel="stylesheet" href="~/CSS/Styles.css" async />
        <script src="~/Scripts/Cloudify.js" async ></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
